<!DOCTYPE html>
<html>
<head>
    <title>SmartHome - Dashboard</title>
     <link rel="stylesheet" href="/static/style.css">  
 

</head>
<body class="home-bg">

 <!-- Górny panel -->
 <header class="top-panel">
    <div class="logo-container">
        <img src="/static/images/sunny-bunny-logo-small.png" alt="Sunny Bunny Logo small" class="">
    </div>
    <!--przycisk smart domy -->
    <div class="hauses-button">
        <button id="">Smart Hauses</button>
    </div> 
    <!-- Lista domów--> 
    <div id="houses-list" class="dropdown">
        <ul>
            <li>Dom 1</li>
            <li>Dom 2</li>
            <li>Dom 3</li>
            <!-- Dodaj więcej domów w razie potrzeby -->
        </ul>
    </div>


    <!--przycisk opcji -->
    <div class="options-button">
        <button id="options-toggle">Opcje</button>
    </div>   
    <!-- Lista opcji -->
    <div id="dropdown-menu" class="dropdown hidden">
        <form method="get" action="/solar-check">
        <button type="submit" class="list-button">Sunlight in Your Area</button>
        </form>

        <form method="get" action="/solar-check">
            <button type="submit" class="list-button">Dodaj nowy Smart Dom</button>
            </form>

        <form method="get" action="/">
        <button type="submit" class="list-button">Wyloguj się</button>
        </form>
    </div>
 </header>

    <div class="screen" style="background: none;">
        
        <div class="devices-container">
            
            <ul>
                {% for device in devices %}
                <li>
                    {{ device[0] }}
                    <form method="post" action="/remove_device" style="display: inline;">
                        <input type="hidden" name="username" value="{{ username }}">
                        <input type="hidden" name="device_name" value="{{ device[0] }}">
                        <button type="submit" class="remove-button">Remove</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="add-device">
            
            <form method="post" action="/add_device">
                <input type="hidden" name="username" value="{{ username }}">
                <input type="text" name="device_name" placeholder="Device Name" required><br>
                <button type="submit">Add New Device</button>
            </form>
        </div>
        
    </div>

    <script>
        // Funkcjonalność rozwijania listy opcji
        const toggleButton = document.getElementById("options-toggle");
        const dropdownMenu = document.getElementById("dropdown-menu");

        toggleButton.addEventListener("click", () => {
            dropdownMenu.classList.toggle("hidden");
        });

        // Kliknięcie poza menu zamyka je
        document.addEventListener("click", (event) => {
            if (!toggleButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.add("hidden");
            }
        });

        
    </script>
</body>
</html>
