<!DOCTYPE html>
<html>
<head>
    <title>SmartHome - Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="register-bg">
    <div class="screen">
         <!-- Logo i nagłówek -->
         <div class="header" style="padding-top: 20px;">
            <img src="/static/images/sunny-bunny-logo.png" alt="Sunny Bunny Logo" class="logo">
            <hr class="separator">
        </div>
        <div class="form-container" style="padding-bottom: 15px;">
            
            <form method="post" action="/register" >
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="/">Login here</a></p>
        </div>
        {% if request.query_params.get('error') %}
        <p class="error">{{ request.query_params.get('error') }}</p>
        {% endif %}
        {% if request.query_params.get('success') %}
        <p class="success">{{ request.query_params.get('success') }}</p>
        {% endif %}
    </div>
</body>
</html>
